<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="net.harawata.mybatipse.Mapper"
            name="MyBatis XML Mapper"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element" value="mapper/http://mybatis.org/dtd/mybatis-3-mapper.dtd">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="net.harawata.mybatipse.Config"
            name="MyBatis XML Config"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element" value="configuration/http://mybatis.org/dtd/mybatis-3-config.dtd">
            </parameter>
         </describer>
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="xml"
            id="net.harawata.mybatipse.SpringConfig"
            name="MyBatis Spring XML Config"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
            <parameter
                  name="element" value="beans">
            </parameter>
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.xml.core.catalogContributions">
      <catalogContribution>
         <public
               id="net.harawata.mybatipse.dtd.mapper"
               publicId="-//mybatis.org//DTD Mapper 3.0//EN"
               uri="schemas/mybatis-3-mapper.dtd"
               webURL="http://mybatis.org/dtd/mybatis-3-mapper.dtd">
         </public>
         <public
               id="net.harawata.mybatipse.dtd.config"
               publicId="-//mybatis.org//DTD Config 3.0//EN"
               uri="schemas/mybatis-3-config.dtd"
               webURL="http://mybatis.org/dtd/mybatis-3-config.dtd">
         </public>
      </catalogContribution>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="net.harawata.mybatipse.mybatis.XmlHyperlinkDetector"
            id="net.harawata.mybatipse.XmlMapperHyperlinkDetector"
            name="MyBatis XML Mapper Hyperlink Detector"
            targetId="org.eclipse.core.runtime.xml">
      </hyperlinkDetector>
      <hyperlinkDetector
            activate="true"
            class="net.harawata.mybatipse.mybatis.JavaHyperlinkDetector"
            id="net.harawata.mybatipse.JavaMapperHyperlinkDetector"
            name="MyBatis Java Mapper Hyperlink Detector"
            targetId="org.eclipse.jdt.ui.javaCode">
      </hyperlinkDetector>
   </extension>
   <extension
         id="net.harawata.mybatipse.xml.validator"
         name="MyBatis XML Mapper Validator"
         point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="net.harawata.mybatipse.mybatis.XmlValidator"
            manual="true"
            markerId="net.harawata.mybatipse.XmlProblem"
            version="1">
         <include>
            <rules>
               <contentType
                     id="net.harawata.mybatipse.Mapper">
               </contentType>
               <contentType
                     id="net.harawata.mybatipse.Config">
               </contentType></rules>
         </include>
      </validator>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.completionProposal">
      <proposalComputer
            activate="true"
            categoryId="net.harawata.mybatis.proposalCategory.xml"
            class="net.harawata.mybatipse.mybatis.XmlCompletionProposalComputer"
            id="net.harawata.mybatipse.proposalComputer.xml"
            name="MyBatis XML Mapper Proposal">
         <contentType
               id="net.harawata.mybatipse.Mapper">
         </contentType>
         <contentType
               id="net.harawata.mybatipse.Config">
         </contentType>
      </proposalComputer>
      <proposalCategory
            id="net.harawata.mybatis.proposalCategory.xml"
            name="MyBatis XML Proposals">
      </proposalCategory>
   </extension>
   <!--
   <extension
         id="net.harawata.mybatipse.XmlSourceValidation"
         point="org.eclipse.wst.sse.ui.sourcevalidation">
      <validator
            class="net.harawata.mybatipse.xml.XmlValidator"
            id="net.harawata.mybatipse.xml.XmlSourceValidator"
            scope="total">
         <contentTypeIdentifier
               id="org.eclipse.core.runtime.xml">
         </contentTypeIdentifier>
         <contentTypeIdentifier
               id="net.harawata.mybatipse.Mapper">
         </contentTypeIdentifier>
         <contentTypeIdentifier
               id="net.harawata.mybatipse.Config">
         </contentTypeIdentifier>
      </validator>
   </extension> -->
   <extension
         id="net.harawata.mybatipse.XmlProblem"
         name="MyBatis XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="problemType">
      </attribute>
      <attribute
            name="errorValue">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="2"
            markerType="net.harawata.mybatipse.XmlProblem"
            name="net.harawata.mybatipse.XmlProblemAnnotation"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="net.harawata.mybatipse.XmlProblemAnnotation"
            colorPreferenceKey="net.harawata.mybatipse.XmlProblem.color"
            colorPreferenceValue="255,192,38"
            contributesToHeader="true"
            highlightPreferenceKey="net.harawata.mybatipse.XmlProblem.highlight"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="true"
            isGoToPreviousNavigationTarget="true"
            label="MyBatis XML Problem"
            overviewRulerPreferenceKey="net.harawata.mybatipse.XmlProblem.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            symbolicIcon="error"
            textPreferenceKey="net.harawata.mybatipse.XmlProblem.text"
            textPreferenceValue="true"
            textStylePreferenceKey="net.harawata.mybatipse.XmlProblem.textStyle"
            textStylePreferenceValue="SQUIGGLES"
            verticalRulerPreferenceKey="net.harawata.mybatipse.XmlProblem.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.harawata.mybatipse.preference.MybatipsePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.harawata.mybatipse.preference.MybatipsePreferencePage"
            id="net.harawata.mybatipse.preferencePage"
            name="MyBatipse">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="net.harawata.mybatipse.preference.MybatipsePreferencePage"
            id="net.harawata.mybatipse.ProjectSettings"
            name="MyBatipse">
         <enabledWhen>
            <instanceof value="org.eclipse.jdt.core.IJavaProject" />
         </enabledWhen>
      </page>
   </extension>
   <extension
         id="MyBatisNature"
         name="MyBatis Project Nature for Mybatipse"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="net.harawata.mybatipse.nature.MyBatisNature">
         </run>
      </runtime>
      <requires-nature
            id="org.eclipse.jdt.core.javanature">
      </requires-nature>
      <builder
            id="net.harawata.mybatipse.MapperValidationBuilder">
      </builder>
   </extension>
   <extension
         id="MapperValidationBuilder"
         name="MyBatis Validation"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="net.harawata.mybatipse.nature.MybatipseIncrementalBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="net.harawata.mybatipse.nature.ToggleNatureCommand"
            id="net.harawata.mybatipse.ToggleNature"
            name="Add/Remove MyBatis nature">
         <commandParameter
               id="net.harawata.mybatipse.ToggleNatureParam"
               name="On"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="net.harawata.mybatipse.ToggleNature"
               icon="icons/mybatis.png"
               label="Add MyBatis Nature"
               style="push">
            <parameter
                  name="net.harawata.mybatipse.ToggleNatureParam"
                  value="true">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="true">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                        <not>
                           <test
                              property="org.eclipse.core.resources.projectNature"
                              value="net.harawata.mybatipse.MyBatisNature">
                           </test>
                        </not>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="net.harawata.mybatipse.ToggleNature"
               icon="icons/mybatis.png"
               label="Remove MyBatis Nature"
               style="push">
            <parameter
                  name="net.harawata.mybatipse.ToggleNatureParam"
                  value="false">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
	                      <test
	                         property="org.eclipse.core.resources.projectNature"
	                         value="net.harawata.mybatipse.MyBatisNature">
	                      </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickAssistProcessors">
      <quickAssistProcessor
            class="net.harawata.mybatipse.mybatis.JavaQuickAssistProcessor"
            id="net.harawata.mybatipse.MapperQuickAssistProcessor"
            name="net.harawata.mybatipse.MapperQuickAssistProcessor">
      </quickAssistProcessor>
   </extension>
</plugin>
